
	<div id="header">
		<div id="logo">
	<a href="" title="<" class="nohover">
</div>
<div id="nav">
	<ul>
  		<li><a href="/music">audio</a></li>
    	<li><a href="/software">software</a></li>
    	<li><a href="/software">events</a></li>
  	</ul>
</div>
