/* Nav
========================================================================== */
.nav {
    @include breakpoint(m) {
        font-size: $font-size-md;
    }
    &.nav--primary {
        position: relative;
        top: 45px;
        left: $spacing-factor;
        @include breakpoint(m) {
            position: static;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .nav__menu-item {
        display: inline-block;
        margin-right: $spacing-factor * 1.5;
        @include breakpoint(m) {
            display: block;
            margin: 0;
        }
        &.active {
            padding-bottom: $spacing-factor;
            &:before {
                font-weight: 700;
                display: inline-block;
                margin-right: $spacing-factor / 3;
                content: '•';
            }
        }
    }
    a {
        @extend %alt-link;
    }

    input {
        display: none;
    }
}

@include breakpoint(m) {
    .nav__menu-toggle {
        user-select: none;
        .nav__menu {
            transform-origin: 0 0;
            transform: translate(0, -1000px);
            position: absolute;
            width: 100%;
            text-align: center;
            z-index: 3;
            padding-top: $spacing-factor * 3;
            padding-bottom: $spacing-factor;
            @include background-color-block(0.9);
            border-bottom: 1px solid $border-color;
            transition: transform 0.1s cubic-bezier(0.77, 0.2, 0.05, 1.0);
            a {
                padding-bottom: $spacing-factor;
                display: block;
            }
        }
        input {
            display: block;
            width: 45px;
            height: 47px;
            position: absolute;
            top: 30px;
            right: 15px;
            cursor: pointer;
            opacity: 0; 
            z-index: 5;
            &:checked ~ .nav__menu {
                transform: translate(0, 0);
            }
            &:checked ~ .hamburger .hamburger-line {
                transform: rotate(45deg) translate(-14px, -25px);
            }
            &:checked ~ .hamburger .hamburger-line:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            &:checked ~ .hamburger .hamburger-line:nth-last-child(2) {
                transform: rotate(-45deg) translate(-1px, 13px);
            }
            &:hover ~ .hamburger .hamburger-line {
                background: $link-color-visited;
            }
        }
        .hamburger {
            width: 45px;
            height: 47px;
            position: absolute;
            top: $spacing-factor * 3;
            right: $spacing-factor;
        }
        .hamburger-line {
            display: block;
            width: 40px;
            height: 3px;
            margin-bottom: 10px;
            position: relative;
            background: $link-color-primary;
            z-index: 4;
            transform-origin: 4px 0px;
            transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
            &:first-child {
              transform-origin: 0% 0%;
            }
    
            &:nth-last-child(2) {
              transform-origin: 0% 100%;
            }       
        }
    }
}