/* Variables
========================================================================== */
$page-bg: #000;
$content-max-width: 1300px;
$font-color-primary: rgb(255, 255, 255);
$font-color-secondary: rgb(150, 77, 68);
$font-family-primary: 'Rosarivo', Georgia, serif;
$font-family-secondary: 'Open Sans', Arial, Helvetica, sans-serif;
$font-letter-spacing-heading: 0.15em;
$base-font-size: 16px;
$font-size: 1.05em;
$font-size-lg: 1.8em;
$font-size-md: 1.2em;
$font-size-sm: 0.8em;
$link-color-primary:rgb(255, 255, 255);
$link-color-secondary:rgb(167, 60, 46);
$link-color-visited:rgb(184, 210, 248);
$border-color:rgb(255, 255, 255);
$spacing-factor: 15px;
$top-negative-margin: 90px;
$background-color-block: rgb(17, 26, 65);
$blockquote-color:rgb(184, 210, 248);
