/* Variables
========================================================================== */
$page-bg: #000;
$content-max-width: 1200px;
$font-color-primary: rgb(255, 255, 255);
$font-color-secondary: rgb(150, 77, 68);
$font-family-primary: 'Rosarivo', Georgia, serif;
$font-family-secondary: 'Open Sans', Arial, Helvetica, sans-serif;

$font-letter-spacing-heading: 0.125em;
$font-size: 16pt;
$font-size-lg: 18pt;
$font-size-md: 14pt;
$font-size-sm: 11pt;
$base-font-size: 16pt;

$link-color-primary:rgb(255, 255, 255);
$link-color-secondary:rgb(167, 60, 46);
$link-color-visited:rgb(184, 210, 248);
$border-color:rgb(255, 255, 255);
$spacing-factor: 15px;
$top-negative-margin: 100px;
$background-color-block: rgb(17, 26, 65);
$blockquote-color:rgb(255, 255, 255);
