<div id="content_container">

<div id="container_2grid_left">
<p>
Forwind (pronounced forwYnd) is a multi-genre label currently operating from London and Manchester.
<br/><br/>
We're not worried about fitting neatly into one section in the record shop. Our passion is for adventurous music with a serious attention to detail, from the performance to the production. 
<br/><br/>
Our aim is to provide a platform for music that maximises the expressive potential of sound, instruments and voices either through physical or electronic means, whether composed, constructed or improvised.
</p>
<div class="content_footerSpacer">
</div>
</div>

<div id="container_1grid_right">
<dl>
    <dt class="about_email">EMAIL :</dt>
    <dd><a href="#" class="email">WEBQUERY (at) FORWIND DOT NET</a></dd>
</dl>
</div>




</div>

