<div id="about_details">
<p>
Forwind calls musicians/software developers/artists who
write custom audio software to submit both a piece of music created with the software and
the software itself for inclusion in an audio and software
compilation/series due to be released 2009/10.
<br><br>
This compilation will strive to
present both the software and audio on an equal footing. Design of the end
package will be in the very capable hands of Paul Finn from Fitzroy &
Finn (www.fitzroyandfinn.co.uk).
<br><br>
Software may but not necessarily need to include patches/code from PureData/Max MSP,
Supercollider, Chuck, CSound, Faust, CLM, Snd-Rt, VSTs, Ladspa's, Processing, bespoke sound
apps (C/C++, python, ruby, fortran, assembly!) et al ...<br><br>
Licensing issues will be resolved on a case by case basis (very much up to the author).
Ownership of copyright of material (audio and software) will continue to be that of the contributor.
<br><br>Please send submissions to the address on the right or alternatively email with details of where the submission can be fetched online. <br> The deadline is open ended.
</p>

<ol>

<li><dl><dt><span>EMAIL :</span><a href="#" class="email">SUBMISSIONS (at) FORWIND DOT NET</a></dt></dl></li>
</ol>
</div>

