<section class="column-block">
    <table class="table table--catalogue">
        <thead>
            <th>Release</th>
            <th>Format</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr class="table-row">
                <td class="table-cell table-cell--release">
                    <img class="img img--thumb" src="https://placeimg.com/50/50/nature/grayscale" alt="Alt desc" />
                    <p>
                        <span>Bob</span>
                        <span>TheBuilder</span>
                    </p>   
                </td>
                <td class="table-cell table-cell--format">
                    <p>
                        <span>FWD19</span>
                        <span>Tape/Digital</span>
                    </p>
                </td>
                <td class="table-cell table-cell--date">2017/11/11</td>
            </tr>
            <tr class="table-row">
                <td class="table-cell table-cell--release">
                    <img class="img img--thumb" src="https://placeimg.com/50/50/nature/grayscale" alt="Alt desc" />
                    <p>
                        <span>Bob</span>
                        <span>TheBuilder</span>
                    </p>   
                </td>
                <td class="table-cell table-cell--format">
                    <p>
                        <span>FWD19</span>
                        <span>Tape/Digital</span>
                    </p>
                </td>
                <td class="table-cell table-cell--date">2017/11/11</td>
            </tr>
        </tbody>
        <tbody>
            <tr class="table-row">
                <td class="table-cell table-cell--release">
                    <img class="img img--thumb" src="https://placeimg.com/50/50/nature/grayscale" alt="Alt desc" />
                    <p>
                        <span>Bob</span>
                        <span>TheBuilder</span>
                    </p>   
                </td>
                <td class="table-cell table-cell--format">
                    <p>
                        <span>FWD19</span>
                        <span>Tape/Digital</span>
                    </p>
                </td>
                <td class="table-cell table-cell--date">2017/11/11</td>
            </tr>
            <tr class="table-row">
                <td class="table-cell table-cell--release">
                    <img class="img img--thumb" src="https://placeimg.com/50/50/nature/grayscale" alt="Alt desc" />
                    <p>
                        <span>Bob</span>
                        <span>TheBuilder</span>
                    </p>   
                </td>
                <td class="table-cell table-cell--format">
                    <p>
                        <span>FWD19</span>
                        <span>Tape/Digital</span>
                    </p>
                </td>
                <td class="table-cell table-cell--date">2017/11/11</td>
            </tr>
            <tr class="table-row">
                <td class="table-cell table-cell--release">
                    <img class="img img--thumb" src="https://placeimg.com/50/50/nature/grayscale" alt="Alt desc" />
                    <p>
                        <span>Bob</span>
                        <span>TheBuilder</span>
                    </p>   
                </td>
                <td class="table-cell table-cell--format">
                    <p>
                        <span>FWD19</span>
                        <span>Tape/Digital</span>
                    </p>
                </td>
                <td class="table-cell table-cell--date">2017/11/11</td>
            </tr>
        </tbody>
    </table> 
</section> 