
<div id="album_contents">
<div id="generic_image_container">
<%= image_tag('events/lac_front.jpg')%>
</div>
<span id="parallel_desc">
Laura Hyland and Conor Curran performed live at this years LAC conference in Cologne. Improvised guitar and electronics (using the Pd externals from the current project)
<br><a href="http://lac.linuxaudio.org/"> >> Linux Audio Conference 2008 Cologne Germany</a> 
</span>
</div>