<h1 class="visually-hidden">Forwind &mdash; home</h1>

<section class="content-block content-block__banner">
	<h2 class="heading heading--floating-button">
		<a href="#">Out now</a>
	</h2>
	<figure>
		<a href="#">
			<img src="https://s3-eu-west-1.amazonaws.com/forwind-net-images/assets/teaser_dummy.jpg" alt="FWD19" />
		</a>    
	</figure>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Latest news
		<a href="#">
			<strong>News archive</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<div class="column-block">
			<h3 class="heading heading--article-title">
				<a href="#">Analogue chat interview</a>
			</h3>
			<div class="content-block--article">
				<p>
					Richard from Analogue Chat and It's not music baby interviews Hannes and Conor about past, present and future for the Forwind project.
				</p>
				<p>
					<iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&hide_artwork=1&feed=%2FAnalogueChat%2Fanalogue-chat-on-resonance-extra-interview-with-forwind-26th-april-2017%2F" frameborder="0" ></iframe>
				</p>
				<p>
					 <a href="#">More</a>
				</p>
			</div>
		</div>
		<div class="column-block">
			<h3 class="heading heading--article-title">
				<a href="#">FWD18 - Thet Liturgiske Owäsendet - Wisconsin Mining State</a>
			</h3>
			<div class="content-block--article">
				<p>
					Thet Liturgiske Owäsendet are Linus Schrab and Johan Fotmeijer. Armed with guitars, field recordings and modular synths they've evolved their own brand of improvised soundscaping over a number of previous releases.While much of their output has tended to be long form, drone based textural explorations, this release opts for shorter running times and a greater variety in approach to both form and texture.
				</p>
				<p>
					 <a href="#">More</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Featured releases
		<a href="#">
			<strong>Explore back catalogue</strong>
		</a>
	</h2>
	<div class="column-container column-container__3-cols">
		<figure class="column-block column-block__figure">
			<a href="#">
				<img src="https://placeimg.com/300/300/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="text-title">Jeremy Keenan</span>
					<span class="text-title">Scripts</span>
				</a>
			</figcaption>  
		</figure>
		<figure class="column-block column-block__figure">
			<a href="#">
				<img src="https://placeimg.com/300/300/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="text-title">Jeremy Keenan</span>
					<span class="text-title">Scripts</span>
				</a>
			</figcaption>  
		</figure>
		<figure class="column-block column-block__figure">
			<a href="#">
				<img src="https://placeimg.com/300/300/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="text-title">Jeremy Keenan</span>
					<span class="text-title">Scripts</span>
				</a>
			</figcaption>  
		</figure>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Featured artists
		<a href="#">
			<strong>Browse all artists</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols"> 
		<figure class="column-block column-block__figure">
			<a href="#">
				<img src="https://placeimg.com/300/175/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="text-title">Jeremy Keenan</span>
					<span class="text-title">Scripts</span>
				</a>
			</figcaption>  
		</figure>
		<figure class="column-block column-block__figure">
			<a href="#">
				<img src="https://placeimg.com/300/175/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="text-title">Jeremy Keenan</span>
					<span class="text-title">Scripts</span>
				</a>
			</figcaption>  
		</figure>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		Featured podcast
		<a href="#">
			<strong>Listen to more podcasts</strong>
		</a>
	</h2>
	<div class="column-block">
		<iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FForwind%2Fthe-understate%2F" frameborder="0" ></iframe>
		<figcaption class="figcaption">
			<a href="#">
				<span class="text-title">The Understate</span>
				<span class="text-title">Compiled & mixed by Traces</span>
				<span class="text-title">Genre: Noise, industrial, experimental</span>
			</a>
		</figcaption>  
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		About
		<a href="/about">
			<strong>Read on and contact details</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<div class="column-block">
			<p>
				Forwind (pronounced <em title="fɔː waɪnd">fɔː waɪnd</em>) is a multi-genre label currently operating from Berlin, Manchester and London.
			</p>
			<p>
				We&#39;re not worried about fitting neatly into one section in the record shop. Our passion is for adventurous music with a serious attention to detail, from the performance to the production.
			</p>
		</div>
		<div class="column-block">
			<p>
				Our aim is to provide a platform for music that maximises the expressive potential of sound, instruments and voices either through physical or electronic means, whether composed, constructed or improvised.    
			</p>
		</div>
	</div>
</section>
<section class="content-block content-block__logos">
	<a href="https://www.imro.ie/"><img class="img img__logo" src="https://s3-eu-west-1.amazonaws.com/forwind-net-images/assets/imro_logo.png" alt="IMRO" /></a>
	<a href="http://state51.com/"><img class="img img__logo" src="https://s3-eu-west-1.amazonaws.com/forwind-net-images/assets/state51_logo.png" alt="State 51" /></a>
</section>