<section class="content-block context-block__banner">
	<h2 class="heading heading--floating-button">
		<a href="#">Release</a>
	</h2>
	<figure>
		<a href="#">
			<img src="https://placeimg.com/800/400/nature/grayscale" alt="Alt desc" />
		</a>    
	</figure>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<a href="#">
			Latest news
			<strong>News archive</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<div class="column-block">
			<h3 class="heading">Analogue chat interview</h3>
			<p>
				Richard from Analogue Chat and It&#39;s not music baby interviews Hannes and Conor about past, present and future for the <a href="#">Forwind</a>
			</p>
		</div>
		<div class="column-block">
			<h3 class="heading">Analogue chat interview</h3>
			<p>
				Our aim is to provide a platform for music that maximises the expressive potential of sound, instruments and voices either through physical or electronic means, whether composed, constructed or improvised.    
			</p>
		</div>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<a href="#">
			Featured releases
			<strong>Explore back catalogue</strong>
		</a>
	</h2>
	<div class="column-container column-container__3-cols">
		<figure class="column-block">
			<a href="#">
				<img src="https://placeimg.com/300/300/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="figcaption__label">Jeremy Keenan</span>
					<span class="figcaption__label">Scripts</span>
				</a>
			</figcaption>  
		</figure>
		<figure class="column-block">
			<a href="#">
				<img src="https://placeimg.com/300/300/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="figcaption__label">Jeremy Keenan</span>
					<span class="figcaption__label">Scripts</span>
				</a>
			</figcaption>  
		</figure>
		<figure class="column-block">
			<a href="#">
				<img src="https://placeimg.com/300/300/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="figcaption__label">Jeremy Keenan</span>
					<span class="figcaption__label">Scripts</span>
				</a>
			</figcaption>  
		</figure>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<a href="#">
			Featured artists
			<strong>Browse all artists</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols"> 
		<figure class="column-block">
			<a href="#">
				<img src="https://placeimg.com/300/175/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="figcaption__label">Jeremy Keenan</span>
					<span class="figcaption__label">Scripts</span>
				</a>
			</figcaption>  
		</figure>
		<figure class="column-block">
			<a href="#">
				<img src="https://placeimg.com/300/175/nature/grayscale" alt="Alt desc" />
			</a> 
			<figcaption class="figcaption">
				<a href="#">
					<span class="figcaption__label">Jeremy Keenan</span>
					<span class="figcaption__label">Scripts</span>
				</a>
			</figcaption>  
		</figure>
	</div>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<a href="#">
			Featured podcast
			<strong>Listen to more podcasts</strong>
		</a>
	</h2>
</section>

<section class="content-block">
	<h2 class="heading heading--content-block">
		<a href="#">
			About
			<strong>Read on and contact details</strong>
		</a>
	</h2>
	<div class="column-container column-container__2-cols">
		<div class="column-block">
			<p>
				Forwind (pronounced <em title="fɔː waɪnd">fɔː waɪnd</em>) is a multi-genre label currently operating from Berlin, Manchester and London.
			</p>
			<p>
				We&#39;re not worried about fitting neatly into one section in the record shop. Our passion is for adventurous music with a serious attention to detail, from the performance to the production.
			</p>
		</div>
		<div class="column-block">
			<p>
				Our aim is to provide a platform for music that maximises the expressive potential of sound, instruments and voices either through physical or electronic means, whether composed, constructed or improvised.    
			</p>
		</div>
	</div>
</section>
<section class="content-block content-block__logos">
	<a href="#"><img class="img__logo" src="https://placeimg.com/175/110/nature/grayscale" alt="Alt desc" /></a>
	<a href="#"><img class="img__logo" src="https://placeimg.com/175/110/nature/grayscale" alt="Alt desc" /></a>
	<a href="#"> <img class="img__logo" src="https://placeimg.com/175/110/nature/grayscale" alt="Alt desc" /></a>
</section>