<!DOCTYPE html>
<html>
<head>
  <title>Forwind Publishing</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    body {background-color: #FFFFFF;}
    .center {
      padding-top: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }  
  </style>
</head>

<body>
  <div>
  <br>/ Be back soon / De retour bientôt / Bald zurück /
    <div>
      <img src="https://camo.githubusercontent.com/135fe766e3e8323450f0d53c227d3d051de5fe1b356b1fdfc19d7a6e9ac0a524/68747470733a2f2f73332d65752d776573742d312e616d617a6f6e6177732e636f6d2f666f7277696e642d696d616765732f70726573732f666f7277696e642d77686974652d6c6f676f2e6a7067" class="center">
    </div>
  </div>
</body>
</html>
