<h1 class="visually-hidden">News</h1>
<section>
    <div class="column-block">
        <div class="content-block content-block--title-heading">
            <h2 class="heading heading--article-title">
                A news heading
                <span class="sub-heading">Posted by <a href="#">Author McAuthor</a> on <time>January 1, 2017</time></span>
            </h2>
            <img class="img img--right" src="https://placeimg.com/300/300/nature/grayscale" alt="Alt desc" />
        </div>
        <div class="content-block content-block--article">
            <p>Forwind hits release number 20 with Scripts by London based sound artist Jeremy Keenan. While his Forwind debut sees him make a rare addition to his discography, his list of projects, performances and installations is lengthy and prolific (see bio). This wealth of experience is evident on the four tracks of warm speaker  filling electro-acoustic ambience he  delivers on Scripts.</p>
                
            <p>While interest in sound art and more academic approaches to audio is arguably at an all time high there can still be a tension between what works in an installation or gallery setting and what works as a purely listening experience. There are no issues here though in this carefully developed EP that sees Jeremy's expertise in synthesis, spatialisation and feedback used to striking effect.</p>
                
            <p>Title track and EP opener Scripts sees the journey begin in a subtle manner with a slice of glacial ambience that introduces the listener to some of the themes that will feature and develop over the four pieces. There's an inquisitive feel to the opener in its foreshadow of bigger reveals later on. Notes and tones are restrained as they rotate around a bed of gently dramatic stabs before taking us into more cavernous territory with some beautifully crafted bass pulses.</p>

            <img class="img img--center" src="https://placeimg.com/800/400/nature/grayscale" alt="Alt desc" />

            <p>Next up is Intone an undoubted highlight on the release. Overused as the word may be, epic fits the bill here with a track that glistens, enchants and even unnerves as the icy atmosphere hints at colder waters ahead. It points to an unfolding story and elicits a sense of uncertainty as it explores the senses nature can bring alive when its vastness, beauty and danger are witnessed on a grand scale, or in smaller more focused renderings through the prism of technology. 'Zapffe' sees a more understated approach take hold as a more subtle sound palette cushions the gently booming subs that guide us through the passageway.</p>
        </div>    
    </div>

    <div class="column-block">
        <div class="content-block content-block--title-heading">
            <h2 class="heading heading--article-title">
                A news heading
                <span class="sub-heading">Posted by <a href="#">Author McAuthor</a> on <time>January 1, 2017</time></span>
            </h2>
        </div>
        <div class="content-block content-block--article">
            <p><a href="#">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit euismod in pellentesque massa placerat. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Sagittis id consectetur purus ut faucibus pulvinar elementum integer. Ipsum a arcu cursus vitae congue mauris rhoncus aenean. Et tortor at risus viverra adipiscing at in tellus. Cras semper auctor neque vitae. Placerat in egestas erat imperdiet sed euismod nisi porta lorem. Mi eget mauris pharetra et ultrices. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae.</p>
            <p>Vestibulum lorem sed risus <a href="#">ultricies tristique</a>. Varius vel pharetra vel turpis nunc eget. Netus et malesuada fames ac turpis. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices. Ornare arcu odio ut sem nulla pharetra diam sit amet. Nisi est sit amet facilisis magna etiam tempor. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Elementum sagittis vitae et leo. Quam viverra orci sagittis eu volutpat. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Ac odio tempor orci dapibus ultrices in iaculis nunc sed. Est pellentesque elit ullamcorper dignissim cras tincidunt. Egestas integer eget aliquet nibh praesent tristique.</p>
        </div>    
    </div>
</section>