	<br>	
	<h1>Comb Series</h1>| Pure Data externals
	<table>
	<tr>
	<td>
		<% for item in unique_shuffle(3)%>	
		<div class="homethumb">
 			<br>
				<img src= <%= comb_image_path + item.to_s + '.jpg'%>
  			<br>
  		</div>
  		<% end %>  	
  	</td>
	</tr>
	</table><br>
	  <h1><%= link_to "Parallel", :controller => 'software', :action => 'parallel' %></h1>
	| Music Visualisation
	<table>
  	<tr>
  		<td>
  		<% for item in unique_shuffle(9)%>
  		<span>
		<div class="homethumb">
 			<br>
				<img src= "<%= parallel_image_path + item.to_s + '.jpg'%>
  			<br>
  		</div>
  		</span>
  	<% end %>
  	</td> 	
  	</tr>
  	</table>
  	