

<div id="release_container">

<img src="/images/artists/cjc/form_cover.jpg">

<ol>
<li><dl><dt><span>ARTIST :</span> CJC</dt></dl></li>
<li><dl><dt><span>ALBUM :</span>FORM</dt></dl></li>
<li><dl><dt><span>RELEASE DATE :</span> 2008/09/22</dt></dl></li>
<li><dl><dt><span>LABEL :</span> FORWIND</dt></dl></li>
<li><dl><dt><span>CATALOGUE # :</span>FWD00</dt></dl></li>
</ol>

<ul>
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="320" height="202" id="audio_form" align="middle">
    <param name="FlashVars" value="xmlURL=/xml/tracklist_form.xml">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="false" />
    <param name="movie" value="/tracklist.swf" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param name="salign" value="lt" />
    <param name="bgcolor" value="#2f2d2e" />
	 <embed src="/tracklist.swf" flashvars="xmlURL=/xml/tracklist_form.xml" quality="high" scale="noscale" salign="lt" bgcolor="#2f2d2e" width="320" height="202" name="audio_form" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
</ul>

</div>
<div id="new_release_details">
<p>
Form is a retrospective of the CJC output between 2000 & 2003. Spacial geometric concepts act as the origins of the timbre and expression within this found-sound digital work.
<br/><br/>
Previous releases from this album :


<br/>
<a href="http://www.psychonavigation.com/releases.html">Psychonavigation :</a> PSY 001,
PSY 002, PSY 003, PSY 033
<br/>
<a href="http://www.electrocd.com/en/cat/sido_010/">Silverdoor :</a>SIDO 10
</p>


<ol>Available to buy (digipak cd) from<a href="http://www.normanrecords.com/records/115080">Norman Records</a> 
<br/> <br/>
In the process of redistributing digitally, will be available shortly through the usual vendors in the next few weeks.
</ol>
</div>

