<div id="release_container">

<img src="/images/releases/horizontal_volumes/gtbig.png">

<ol>
<li><dl><dt><span>ARTISTS :</span> <strong>JASON FREEMAN, PATRICIA REED, AND MAJA CERAR</strong></dt></dl></li>
<li><dl><dt><span>TITLE :</span>GRAPH THEORY</dt></dl></li>
<li><dl><dt><span>MEDIUM :</span> AUDIO / SOFTWARE</a></dt></dl></li>
</ol>


<ul>


	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="320" height="140" id="audio_sonnamble" align="middle"> <param name="FlashVars" value="xmlURL=/xml/tracklist_sonnamble.xml">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="false" />
    <param name="movie" value="/tracklist.swf" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param name="salign" value="lt" />
    <param name="bgcolor" value="#2f2d2e" /> <embed src="/tracklist.swf" flashvars="xmlURL=/xml/tracklist_gt.xml" quality="high" scale="noscale" salign="lt" bgcolor="#2f2d2e" width="320" height="140" name="audio_sonnamble" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>









</div>

<div id="new_release_details">
<p>
GRAPH THEORY SEEKS TO CONNECT COMPOSITION, LISTENING, AND CONCERT PERFORMANCE BY COUPLING AN ACOUSTIC WORK FOR SOLO VIOLIN TO INTERACTIVE WEB-BASED SOFTWARE.
<br/><br/>
ON THE WEB SITE, USERS NAVIGATE AMONG SIXTY-ONE SHORT, LOOPING MUSICAL FRAGMENTS TO CREATE THEIR OWN UNIQUE PATH THROUGH THE COMPOSITION.
THE NAVIGATION CHOICES WHICH USERS MAKE AFFECT FUTURE CONCERT PERFORMANCES OF THE WORK.



<BR/><BR/>
</p>
<ol>
BEFORE EACH PERFORMANCE, THE SOLOIST PRINTS OUT A NEW COPY OF THE SCORE FROM THE WEB SITE.
<br/><br/>
THAT SCORE PRESENTS HER WITH A FIXED PATH THROUGH THE PIECE; THE ORDER OF THE FRAGMENTS IS INFLUENCED BY THE DECISIONS THAT RECENT WEB SITE VISITORS HAVE MADE.

<BR/><BR/>
TO USE/GET THE SOFTWARE PLEASE GO TO <a href="http://turbulence.org/Works/graphtheory/">TURBULENCE</a>.
<br/><br/>
</ol>
</div>

