<div id="release_container">

<div id="releases_promo">

<a href="/releases/FWD02/pieces/1"><img src="/images/releases/horizontal_volumes/sonification_long.png"/><a/>
<span><a href="/releases/FWD02/pieces/1">PORTRAIT SONIFICATION</a></span>
<p>
THE FIRST ITEM IN THIS SERIES IS AN AUDIO-VISUAL/SOFTWARE PIECE FROM JEAN-BAPTISTE THIEBAUT AND SCORPCNE HORRIBLE.
<br/> <br/>GO <a href="/releases/horizontal_volumes/portrait_sonification/density_sampler.zip">HERE</a> TO DOWNLOAD THE MAX MSP PATCH.
</p>
</div>

<div id="releases_promo">
<a href="/releases/FWD02/pieces/2"><img src="/images/releases/horizontal_volumes/gt2.png"/><a/>
<span><a href="/releases/FWD02/pieces/2">GRAPH THEORY</a></span>
<p>
GRAPH THEORY SEEKS TO CONNECT COMPOSITION, LISTENING, AND CONCERT PERFORMANCE BY COUPLING AN ACOUSTIC WORK FOR SOLO VIOLIN WITH INTERACTIVE WEB-BASED SOFTWARE.
<br/><br/>A CHOSEN VIOLIN PIECE ACCOMPANIES THE WORK.
<br/><br/>
</p>
</div>

<div id="releases_promo">
<a href="/releases/FWD02/pieces/3"><img src="/images/releases/horizontal_volumes/sehnsucht.png"/><a/>
<span><a href="/releases/FWD02/pieces/3">SEHNSUCHT</a></span>
<p>
THIS FEATURE IS A SUBSET OF THE SOFTWARE DEVELOPED FOR THE RECORDING OF SONNAMBLE'S <a href="/releases/FWD01">SEVEN MONTHS IN E MINOR</a>.
<br/><br/>ACCOMPANYING IS GAVIN OWENS STUNNING VISUAL WORK FOR THE SONNAMBLE TRACK 'SEHNSUCHT'.<br/><br/>

</p>
</div>

</div>

