
<div id="portrait">


<ol>
<li><dl><dt><span>ARTIST :</span><strong>JEAN-BAPTISTE THIEBAUT & SCORPNE HORRIBLE</strong></dt></dl></li>
<li><dl><dt><span>TITLE :</span><a href="/releases/horizontal_volumes/portrait_sonification/stream">PORTRAIT SONIFICATION</a></dt></dl></li>
<li><dl><dt><span>MEDIUM :</span> <a href="/releases/horizontal_volumes/portrait_sonification/stream">AUDIO VISUAL</a></dt></dl></li>
<li><dl><dt><span>ASSETS :</span> <a href="/releases/horizontal_volumes/portrait_sonification/density_sampler.zip">MAX MSP PATCH</a>
</dt></dl></li>
</ol>



<p>
THE MUSIC OF PORTRAIT SONIFICATION IS ORIGINALLY A COMMISSION BY THE PAINTER
ALLA TKACHUK. THE PIECE WAS PERFORMED AT THE NATIONAL PORTRAIT GALLERY IN JUNE 2006
 AT A CONFERENCE ON MODERN PORTRAITURE.<BR/><BR/> THE COMPOSITION PROCESS IS BASED
ON THE SONIFICATION OF A PICTURE OF THE PAINTER. LOW-LEVEL GRAPHICAL FEATURES OF THE IMAGE,
SUCH AS THE LUMINANCE AND SIMILARITIES WITHIN A REGION, WERE USED TO CREATE SERIES OF SONIC EVENTS.
THESE SONIC EVENTS WERE USED AS THE RAW MATERIAL FOR THE COMPOSITION. THE ORGANISATION OF THESE EVENTS
WAS OBTAINED USING A MAPPING BETWEEN THE SPACE OF THE PICTURE AND THE TIME OF THE MUSIC.

TWO YEARS LATER, THE VIDEO ARTIST <a href="http://www.scorpenehorrible.com">SCORPNE HORRIBLE</a> CREATED A VIDEO FOR THE PIECE
<BR/><BR/>
AUDIO DESIGN AND MAX MSP PATCHING BY <a href="http://jbthiebaut.free.fr">JEAN-BAPTISTE THIEBAUT.</a>.
<br/><br/>

YOU NEED TO OPEN ONLY THE PATCH CALLED 'DENSITY'.DRAG A FOLDER CONTAINING SOUNDS (AIF AND/OR WAV) TO THE BOX ON THE TOP AND IT SHOULD WORK OPERATE IN A STRAIGHTFORWARD MANNER.
<br/><br/>

<a href="/releases/horizontal_volumes/portrait_sonification/density_sampler.zip">MAX MSP PATCH <img src ="/images/releases/zip_icon.gif"></a>

</p>

<a href="/releases/horizontal_volumes/portrait_sonification/density_sampler.zip"><%= image_tag("releases/horizontal_volumes/portrait_snap.png") %></a>


</div>

