<div id="release_container">

<img src="/images/sonnamble/7months.jpg">

<ol>
<li><dl><dt><span>ARTIST :</span> SONNAMBLE</dt></dl></li>
<li><dl><dt><span>ALBUM :</span>SEVEN MONTHS IN E MINOR</dt></dl></li>
<li><dl><dt><span>RELEASE DATE :</span> 2010/03/31 </dt></dl></li>
<li><dl><dt><span>LABEL :</span> FORWIND</dt></dl></li>
<li><dl><dt><span>CATALOGUE # :</span>FWD01</dt></dl></li>
</ol>


<ul>

	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="320" height="140" id="audio_sonnamble" align="middle"> <param name="FlashVars" value="xmlURL=/xml/tracklist_sonnamble.xml">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="false" />
    <param name="movie" value="/tracklist.swf" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param name="salign" value="lt" />
    <param name="bgcolor" value="#2f2d2e" /> <embed src="/tracklist.swf" flashvars="xmlURL=/xml/tracklist_sonnamble.xml" quality="high" scale="noscale" salign="lt" bgcolor="#2f2d2e" width="320" height="140" name="audio_sonnamble" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>

	</ul>

</div>

<div id="new_release_details">
<p>
This is a improvisational piece of work exploring the realm of heavily processed lap steel, double bass, analogue synth and guitar. <br/><br/>Contributors include Peter Marsh and Conor Curran.
<br/> <br/>
</p>
<ol>
Available to buy (digipak cd) from <a href="http://www.normanrecords.com/records/115079">Norman Records</a> and elsewhere. <br/><br/> 
In the process of redistributing digitally, will be available shortly through the usual vendors in the next few weeks.
</ol>
</div>

