<div id="release_container">

<img src="/images/releases/outpatient.jpg">

<ol>
<li><dl><dt><span>COMPILED & MIXED BY :</span>TRACES</dt></dl></li>
<li><dl><dt><span>TITLE :</span>OUR PAST OUR PREDATOR</dt></dl></li>
<li><dl><dt><span>RELEASE DATE :</span> 2010/08/06</dt></dl></li>
<li><dl><dt><span>LABEL :</span> FORWIND</dt></dl></li>
<li><dl><dt><span>CATALOGUE # :</span>FWD03</dt></dl></li>
</ol>

<br/>
<br/>

<ul>
<li><dl><dt><span><a href="/audio/traces/Traces_OurPastOurPredator_mix.mp3">40 MINUTE 320 KBPS MP3 MIX.</span><img src="/images/releases/zip_icon.gif"></a></dt> <dd></dd></dl></li>
</ul>
</div>

<div id="new_release_details">
<ul>

<li><dl><dt><span>1</span><strong>HG WELLS - EXTRACT FROM TALK ON COMMUNICATIONS</strong></dt><dd>BBC RECORDS</dd></dl></li>
<li><dl><dt><span>2</span><strong>JACK PAYNE AND THE BBC DANCE ORCHESTRA -
HAPPY DAYS ARE HERE AGAIN</strong></dt><dd>BBC RECORDS</dd></dl></li>
<li><dl><dt><span>3</span><strong>FELIX KUBIN -
WAGNER 99</strong></dt><dd>DISKONO</dd></dl></li>
<li><dl><dt><span>4</span><strong>BJORK - STATE OF EMERGENCY (ALEC EMPIRE "THE PLANET OF ICE" REMIX)</strong></dt><dd>ONE LITTLE INDIAN</dd></dl></li>
<li><dl><dt><span>5</span><strong>MEAM - THE L (UNTITLED)</strong></dt><dd>SKAM</dd></dl></li>
<li><dl><dt><span>6</span><strong>SCOTT HAGGART - 1.17 WHITE DAUGHTERS EDIT</strong></dt><dd>DISKONO</dd></dl></li>
<li><dl><dt><span>7</span><strong>ROBIN FOX -
MELOPHOBIA</strong></dt><dd>EDITIONS MEGO</dd></dl></li>
<li><dl><dt><span>8</span><strong>FENNESZ - B04</strong></dt><dd>STAALPLAAT SOUNDSYSTEM</dd></dl></li>
<li><dl><dt><span>9</span><strong>MUTTERMAL - NORTHERN EXPOSURE</strong></dt><dd>DIGITALBIOTOPE</dt></dl></li>

<li><dl><dt><span>10</span><strong>KEITH FULLERTON WHITMAN - GENERATOR 3</strong></dt><dd>ROOT STRATA</dd></dl></li>
<li><dl><dt><span>11</span><strong>RAVEN CHACON - LA'TS'AADAH FOR SOLO VIOLIN PERFORMED BY MARK MENZIES</strong></dt><dd>ANARCHYMOON RECORDINGS</dt></dl></li>
</ul>

<ul>
<li><dl><dt><span>12</span><strong>FS BLUUM - FEHL</strong></dt><dd>MORR MUSIC</dt></dl></li>
<li><dl><dt><span>13</span><strong>XABEC - FEUERSTERN</strong></dt><dd>DRONE RECORDS</dt></dl></li>
<li><dl><dt><span>14</span><strong>ATHEUS - THE MAGIC MOUNTAIN</strong></dt><dd>GHOST SOUNDS</dt></dl></li>
<li><dl><dt><span>15</span><strong>VALET -
TOUCH ME I'M SICK</strong></dt><dd>ROOT STRATA</dt></dl></li>
<li><dl><dt><span>16</span><strong>CHARLEMAGNE PALESTINE - B03</strong></dt><dd>STAALPLAAT SOUNDSYSTEM</dt></dl></li>
<li><dl><dt><span>17</span><strong>LOSCIL - SOUS-MARIN</strong></dt><dd>ONE</dt></dl></li>
<li><dl><dt><span>18</span><strong>SONNAMBLE - TRASNOCHAR</strong></dt><dd>FORWIND</dt></dl></li>
<li><dl><dt><span>19</span><strong>LEZET_THROUROOF - IT'S EASY</strong></dt><dd>LEZET_THROUROOF</dt></dl></li>
<li><dl><dt><span>20</span><strong>WWW.JZ.ARKH.CO.UK - ARKH_06V2</strong></dt><dd>JZ.ARKH.CO.UK</dd></dl></li>
<li><dl><dt><span>21</span><strong>ELLA FITZGERALD - BLUE MOON</strong></dt><dd>HIS MASTERS VOICE</dd></dl></li>
<li><dl><dt><span>22</span><strong>SCOTT HAGGART -1.17 LARY SEVEN EDIT </strong></dt><dd>DISKONO</dd></dl></li>
<li><dl><dt><span>23</span><strong>SEASONS (PRE-DIN) - UNTITLED 05 STARS AND LIGHTS </strong></dt><dd>THY-REC</dd></dl></li>

</ul>
</div>
