

<div id="parallel_details">



<ol id="parallel_details">
<li><dl><dt><span>TITLE :</span> PARALLEL</dt></dl></li>
<li><dl><dt><span>CATEGORY :</span>MUSIC VISUALISATION</dt></dl></li>
<li><dl><dt><span>RELEASE YEAR :</span> 2002 </dt></dl></li>
<li><dl><dt><span>PLATFORM :</span> WIN32</dt></dl></li>
<li><dl><dt><span>DOWNLOAD :</span><a href="/software/parallel_1.2.tar.gz" title="Download Parallel">PARALLEL_1_2.ZIP</a> (8 MB)</dt></dl></li>

</ol>
<img src="/images/software/ss_parallel_2.jpg">
<p>
Parallel is a real time MIDI controllable music visualisation synth. Via MIDI pitch and velocity, 
shapes and texture are dynamically controllable. Velocity values determine the magnitude and speed of the movement of the 
overall image.
<span>Parallel was exhibited at <a href="http://www.thedigitalhubexhibit.com/">'exhibit 1'</a> at <a href="http://www.thedigitalhub.com/">the Digital Hub</a> in Dublin from January to March 2003 and at <a href="http://2002.cybersonica.org/performance.html">Cybersonica 2002</a>.</span>           
</p>
</div>


