<div id="crumb_trail">
YOU ARE HERE : <%= home_link %><span id='small_white_txt'> / </span>

<%= link_to "RELEASES", :controller => "releases", :action => "index" %>
 /
<%= link_to @context, :controller => "releases", :action => "show", :id => @context %>
 /

<%= link_to @item, :action => "show", :id => @item %>
</div>

