
/*
    forwind.net css
*/

/* Imports
========================================================================== */
//utils
@import './shared/normalize';
@import './shared/vars';
@import './shared/mixins';
@import './shared/placeholders';

//modules
@import './shared/nav';

/* Site CSS
========================================================================== */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

body {
    font-family: $font-family-primary;
    background: $page-bg;
    color: $font-color-primary;
    font-size: $font-size;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;    
}

a {
    &:link,
    &:active,
    &:visited,
    &:hover {
        color: $link-color-primary;
    }
    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
}

p {
    margin-bottom: $spacing-factor * 2;
}

header,
footer {
    font-size: $font-size-sm;
    padding: $spacing-factor 0;
    background-color: $background-color-block;
    width: 100%;
    font-family: $font-family-secondary;
}

header {
    min-height: 205px;
    position: relative;
    padding: 0;
    .logo {
        display: block;
        position: absolute;
        top: $spacing-factor * 3;
        left: 50%;
        z-index: 10;
        @include breakpoint(m) {
            left: $spacing-factor;
        }
    }
}

footer {
    .column-container {
        min-height: 100px;
        @include breakpoint(m) {
            align-items: flex-start;
        }
    }
    .copyright-notice {
        text-align: right;
    }
}

blockquote {
    font-size: $font-size-md;
    margin-bottom: $spacing-factor;
    @extend %clearfix;
    color: $blockquote-color;
    cite {
        display: block;
        float: right;
        margin: $spacing-factor;
        color: $font-color-primary;
    }
}

.heading {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: $spacing-factor * 2;
    &--article-title {
        letter-spacing: $font-letter-spacing-heading;
    }
    &--widget {
        text-transform: none;
        margin-bottom: $spacing-factor / 2  ;
    }
    &--floating-button {
        margin: 0;
        a {
            font-family: $font-family-secondary;
            display: inline-block;
            background-color: $background-color-block;
            padding: $spacing-factor;
            position: absolute;
            left: $spacing-factor * 2;
            top: $spacing-factor * 2;
        }
    }
    &--content-block a {
        font-family: $font-family-secondary;
        font-size: $font-size-md;
        strong {
            color: $font-color-secondary;
            font-size: $font-size-sm;
            text-transform: none;
            display: inline-block;
            text-indent: $spacing-factor / 2;
        }
    }
    a {
        text-decoration: none;
    }
}

.layout-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .layout-block {
        width: 100%;
        margin: auto;
    }
}

.section-wrapper {
    margin: 0 $spacing-factor * 3;
}

.section-wrapper__header {
    @include breakpoint(m) {
		margin: 0;
	}
}

.content-container {
    max-width: $content-max-width;
    min-height: 200px;
    position: relative;
    top: -90px;
    .content-block {
        position: relative;
        margin-bottom: $spacing-factor * 2;
        padding: 0 $spacing-factor $spacing-factor * 2 $spacing-factor;
        @include breakpoint(m) {
            margin-bottom: $spacing-factor;
            padding-bottom: $spacing-factor;
        }
        &.aside__widget {
            font-family: $font-family-secondary;
            font-size: $font-size-sm;
            margin-bottom: $spacing-factor * 2;
            @include breakpoint(m) {
                font-size: $font-size-md;
            } 
            a {
                @extend %alt-link;
                color: $link-color-secondary;
            }
        }
        
    }
}

.content-block__banner {
    @include breakpoint(m) {
		.heading--floating-button {
            display: none;
        }
    }
}

.column-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    &__article,
    &--v-centered {
        align-items: center;
    }
    .column-block {
        margin-right: $spacing-factor;
        flex-grow: 1;
        &:last-child {
            margin-right: 0;
        }
    }
    &__article {
        @include breakpoint(m) {
            flex-flow: column nowrap;
        }
        .column-block {
            align-self: start;
            &__main-content {
                flex-basis: 66%;
                order: 1;
                @include breakpoint(m) {
                    order: 2;
                    flex-basis: 100%;
                }
            }    
            &__aside {
                flex-basis: 33%;
                order: 2;
                @include breakpoint(m) {
                    order: 1;
                    flex-basis: 100%;
                }
            }
        }
    }
    &__2-cols {
        .column-block {
            flex-basis: 50%;
        }
    }
    &__3-cols {
        .column-block {
            flex-basis: 33.3%;
        }
    }
}

.column-block__main-content {
    .content-block__banner {
        display: block;
        @include breakpoint(m) {
            display: none;
        }
    }
}

.column-block__aside {
    .content-block__banner {
        display: none;
        @include breakpoint(m) {
            display: block;
        }
    }
    h1 {
        @include breakpoint(m) {
            font-size: $font-size-lg;
        } 
    }
}

.figcaption {
    display: block;
    font-family: $font-family-secondary;
    font-size: $font-size-sm;
    a {
        @extend %alt-link;
    }
}

.text-title {
    display: block;
}

.img__logo {
    width: auto;
    display: inline-block;
    margin-right: $spacing-factor * 4;
}

.table--release-details {
    width: 100%;
    border-collapse: collapse;
    caption {
        display: block;
        text-align: left;
        margin-bottom: $spacing-factor * 2;
    }
    .table-row {
        display: flex;
    }
    .table-cell {
        padding: $spacing-factor / 3;
        padding-top: 0;
        &--track-name {
            flex-basis: 75%;
        }
    }
}

.link--button {
    background-color: $background-color-block;
    display: block;
    text-align: center;
    padding: $spacing-factor $spacing-factor * 2;
    @extend %alt-link;
    color: $link-color-primary !important;
}

.visually-hidden {
    @extend %visuallyhidden;
  }