
/*
    forwind.net css
*/

/* Imports
========================================================================== */
//utils
@import './shared/normalize';
@import './shared/vars';
@import './shared/mixins';
@import './shared/placeholders';

//modules
@import './shared/nav';

/* Site CSS
========================================================================== */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

body {
    font-family: $font-family-primary;
    background: $background-color-block;
    color: $font-color-primary;
    font-size: $font-size;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

main {
    background: $page-bg;
    background-image: url("ghosts.jpg");
    background-size: cover;
}

a {
    &:link,
    &:active,
    &:visited,
    &:hover {
        color: $link-color-primary;
    }
    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
}

p {
    margin-bottom: $spacing-factor * 2;
}

header,
footer {
    font-size: $font-size-sm;
    padding: $spacing-factor 0;
    background-color: $background-color-block;
    width: 100%;
    font-family: $font-family-secondary;
}

header {
    min-height: 205px;
    position: relative;
    padding: 0;
    .logo {
        display: block;
        position: absolute;
        top: $spacing-factor * 3;
        left: 50%;
        z-index: 10;
        @include breakpoint(m) {
            left: $spacing-factor;
        }
    }
}

footer {
    .column-container {
        min-height: 100px;
        @include breakpoint(m) {
            align-items: flex-start;
        }
    }
    .copyright-notice {
        text-align: right;
        margin: $spacing-factor * 2 0;
    }
}

blockquote {
    font-size: $font-size-md;
    margin-bottom: $spacing-factor;
    @extend %clearfix;
    color: $blockquote-color;
    cite {
        display: block;
        float: right;
        margin: $spacing-factor;
        color: $font-color-primary;
    }
}

.heading {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: $spacing-factor * 2;
    @include breakpoint(m) {
		margin-bottom: $spacing-factor;
    }
    &--page-title {
        font-size: $font-size-lg;
    }
    &--article-title {
        letter-spacing: $font-letter-spacing-heading;
        .sub-heading {
            text-transform: none;
            font-size: $font-size-sm;
            display: block;
            font-family: $font-family-secondary;
        }
        a {
            @extend %alt-link;
        }
        
    }
    &--widget {
        text-transform: none;
        margin-bottom: $spacing-factor / 2  ;
    }
    &--floating-button {
        margin: 0;
        a {
            font-family: $font-family-secondary;
            display: inline-block;
            background-color: $background-color-block;
            padding: $spacing-factor * 0.5 $spacing-factor;
            position: absolute;
            left: $spacing-factor * 2;
            top: $spacing-factor;
        }
    }
    &--content-block {
        font-family: $font-family-secondary;
        font-size: $font-size-md;
        a strong {
            color: $font-color-secondary;
            font-size: $font-size-sm;
            text-transform: none;
            display: inline-block;
            text-indent: $spacing-factor * 0.67;
        &:hover {
            opacity: 0.8;
        }
        }
    }
    a {
        text-decoration: none;
    }
}

.layout-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .layout-block {
        width: 100%;
        margin: auto;
    }
}

.section-wrapper {
    margin: 0 $spacing-factor * 3;
    @include breakpoint(m) {
		margin: 0 $spacing-factor;
	}
}

.section-wrapper__header {
    @include breakpoint(m) {
		margin: 0;
	}
}

.content-container {
    max-width: $content-max-width;
    min-height: 200px;
    position: relative;
    top: -$top-negative-margin;
    .content-block {
        position: relative;
        margin-bottom: $spacing-factor * 2;
        padding: 0 $spacing-factor $spacing-factor * 2 $spacing-factor;
        @include breakpoint(m) {
            padding-bottom: 0;
        }
        &.aside__widget {
            font-family: $font-family-secondary;
            font-size: $font-size-sm;
            margin-bottom: $spacing-factor * 2;
            @include breakpoint(m) {
                font-size: $font-size-md;
            } 
            a {
                @extend %alt-link;
                color: $link-color-secondary;
            }
        }
        &--title-heading {
            margin-bottom: 0;
            height: $top-negative-margin - $spacing-factor;
            .heading--article-title,
            .heading--page-title {
                display: inline-block;
            }
            .heading--article-title {
                font-size: $font-size-lg;
            }
            
        }
        &--article {
            padding-top: $spacing-factor * 0.5;
            a {
                @extend %alt-link;
                color: $link-color-secondary;
            }
        }
    }
}

.content-block__banner {
    font-size: $font-size-md;
    @include breakpoint(m) {
		.heading--floating-button {
            display: none;
        }
    }
}

.column-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    &__article,
    &--v-centered {
        align-items: center;
    }
    @include breakpoint(sm) {
        flex-direction: column;
    }
    .column-block {
        margin-right: $spacing-factor * 2;
        flex-grow: 1;
        &:last-child {
            margin-right: 0;
            @include breakpoint(sm) {
                margin-right: auto;
            }
        }
        &__figure {
            @include breakpoint(sm) {
                margin: 0 auto $spacing-factor * 2 auto;
            }
        }
    }
    &__article {
        margin-top: $spacing-factor;
        @include breakpoint(m) {
            flex-flow: column nowrap;
        }
        .column-block {
            align-self: start;
            &__main-content {
                flex-basis: 66%;
                order: 1;
                @include breakpoint(m) {
                    order: 2;
                    flex-basis: 100%;
                }
            }    
            &__aside {
                flex-basis: 33%;
                order: 2;
                @include breakpoint(m) {
                    order: 1;
                    flex-basis: 100%;
                }
            }
        }
    }
    &__2-cols {
        flex-basis: 50%;
        .column-block {
            width: 50%;
            @include breakpoint(m) {
                width: auto;
            }
        }
    }
    &__3-cols {
        flex-basis: 33.3%;
    }
}

.column-block__main-content {
    .content-block__banner {
        display: block;
        @include breakpoint(m) {
            display: none;
        }
    }
}

.column-block__aside {
    .content-block__banner {
        display: none;
        @include breakpoint(m) {
            display: block;
        }
    }
    h1 {
        @include breakpoint(m) {
            font-size: $font-size-lg;
        } 
    }
}

.figcaption {
    display: block;
    font-family: $font-family-secondary;
    font-size: $font-size-md;
    a {
        @extend %alt-link;
    }
}

.text-title {
    display: block;
}

.img {
    width: auto;
    display: inline-block;
    &--thumb {
        border: 1px solid white;
    }
    &--center {
        margin: 0 auto $spacing-factor * 2 auto;
        display: block;
    }

    &--right {
        float: right;
        margin: 0 0 $spacing-factor * 2 $spacing-factor * 2;
    }

    &--left {
        float: left;
        margin: 0 $spacing-factor * 2 $spacing-factor * 2 0;
    }
    
    &__logo {        
        margin-right: $spacing-factor * 4;
        @include breakpoint(sm) {
            margin: 0 auto $spacing-factor auto;
            display: block;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    .table-cell {
        vertical-align: top;
    }
    &--release-details {
        .table-row {
            display: flex;
        }
        .table-cell {
            padding: $spacing-factor / 3;
            padding-top: 0;
            &--track-name {
                padding-top: 0;
                flex-basis: 75%;
            }
        }
    }
    caption {
        display: block;
        text-align: left;
        margin-bottom: $spacing-factor * 2;
    }
    &--catalogue {
        margin-right: $spacing-factor;
        margin-left: $spacing-factor;
        th {
            height: $top-negative-margin - $spacing-factor;
            font-size: $font-size-lg;
            padding-bottom: $spacing-factor * 2;
        }
        .table-cell {
            font-family: $font-family-secondary;
            font-size: $font-size-md;
            padding: 0 $spacing-factor $spacing-factor 0;
            width: 50%;
            &--format,
            &--date {
                width: 25%;
            }
            span {
                display: block;
            }
            @include breakpoint(sm) {
                font-size: $font-size-sm;
                padding: 0 $spacing-factor / 2 $spacing-factor / 2 0;
            }
        }
        .img--thumb {
            margin-right: $spacing-factor * 2;
            float: left;
            @include breakpoint(sm) {
                margin-right: $spacing-factor;
            }
        }
    }
}

.link--button {
    background-color: $background-color-block;
    display: block;
    text-align: center;
    padding: $spacing-factor $spacing-factor * 2;
    @extend %alt-link;
    color: $link-color-primary !important;
}

.visually-hidden {
    @extend %visuallyhidden;
  }