.blogComment {
	padding: 0 0 0 10px;
  width: 500px;
	border-top: 1px solid #ccc;
	float: left;
}

h1.blogPostTitle {
	padding: 0px 20px 0px 0px;
	width: 500px;
	float: left;
	font-size: 0.8125em;
	line-height: 1.5em;
}

.pagination {
  width: 500px;
  padding: 0 0 20px 20px;
  display: block;
}

.blogNewComment {
	margin-top: 5px;
	float: left;
  width: 510px;
}

.blogNewCommentField {
	width: 100%;
	height: 130px;
}

.blogPostBody {
	padding: 10px 20px 20px 0px;
	width: 500px;
  	font-size: .875em;
	float: left;
	line-height: 1.5em;
}

.blogPoster {
	font-style: italic;
	color: #b1bfc8;
}

p.blogPostPostedAt {
	font-size: .8em;
	padding: 0px 20px 0px 0px;
	width: 500px;
	float: left;
	line-height: 1.5em;
}

.blogPost{
	padding: 15px 20px 20px 20px;
  width: 500px;
	float: left;
}

.blogPost img{
	padding: 10px 20px 20px 0px;
  clear: left;
}

.blogCommentAdmin {
	/* background-color: #EBE0BF;*/
}

.blogFooter a {
	margin-right: 5px;
}
.blogPost br{
  float: left;
  width: 500px;
}

.blogPostBreak{
  float: left;
  width: 500px;
}

#TagHeading{
  float: left;
  width: 700px;
  padding: 10px 0 0 20px;
  margin:0;
}


.blogTagsList{
  width: 200px;
}

.blogTagsList ul{
	list-style: none;
	margin: 0px 0px;
	padding: 10px 10px 10px 0px;
	line-height: 1.4em;
}

.blogTagsList li{
	list-style: none;
}

.blogUserImage {
	float: right;
	margin: 0px 0px 5px 5px;
}

ul.blogList {
	list-style: none;
	padding: 25px 10px 5px 0px;
	margin: 0;
	font-size: 0.8125em;
	line-height: 1.5em;
}

ul.blogList li {
	display: inline;
	padding: 0px 10px 0px 10px;
	border-left: 1px solid #777;
	margin: 0px 0px;
}
ul.blogList li.blogListFirst {
	border-left: none;
	padding: 0px 10px 0px 0px;
}

.blogEditRightPanel {
	float: left;
	margin-left: 20px;
	width: 450px;
}
.blogEditLeftPanel {
	float: left;
	width: 350px;
}

#blogImages {
	width: 100%;
	float: right;
}
.blogImageHeader td {
	font-weight: bold;
}
.imageFileName {
	width: 120px;
	overflow-x: hidden;
}

.blogMarkdownHelp {
	margin-top: 20px;
}

.blogKitCode pre {
	overflow-x: auto;
}


p.blogPostTags {
	float: left;
	width: 500px;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 0px 0px;
	font-size: 0.8125em;
	line-height: 1.5em;
	
}

p.blogFooter {
	clear: left;
	margin: 0px 0px 0px 0px;
}
br.blogFoot{
	float: left;
  width: 500px;
}

.blogRightHandNav {
	float: right;
	width: 200px;
	margin: 20px 0px 0px 0px;
	font-size: 0.8125em;
	line-height: 1.5em;
}

.blogAdminLinks {
	margin: 0px 0px 0px 20px;
	
}


