* {
  padding: 0;
  margin: 0;
  }


/* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }


/*---------------- color scheme


#outer_container: #232122 Dark Grey
#inner_container:  #2f2d2e Grey
blue link: #648d9f
blogroll post date:  #787d7f lighter grey

----------------------- */


body {
 padding: 0px;
 margin: 10px 0;
 font-size: 0.8125em;
 line-height: 1.5;
 font-family: "ARIAL";
 background: #232122;
}

p {
word-spacing: -0.0625em;
}

img {
 border:0;
}




/************************************************/

hr {
  height: 1px;
  background: #c1b6b7;
  color: #c1b6b7;
  border: 0;
  clear: left;
}

.content_footerSpacer {
 padding:0 0 0 0;
 margin:0 0 0 0;
 height:200px;
}

/*---------------- links ----------------------- */


a:link, a:visited {
 color:#648d9f;
 text-decoration: none;
}

a:hover{
  color: #b9bcbe;
}




/*---------------- text ----------------------- */

h1{
  text-transform: uppercase;
  font-size:1.2em;
  font-family: "arial";
  margin: 0px;
  padding: 0px;
  color: #b1bfc8;

}

h2{
 color: #b1bfc8;
 font-size: 13px;
 font-family: "arial";
 margin: 0px;
 padding: 0px;
}

h3{
 color: #000000;
 font-size: 14px;
 margin: 0px;
 padding: 0px 0px 5px 0px;
 clear: left;
}

/*---------------- base structure ----------------------- */

#outer_container{
 width: 800px;
 text-align:left;
 background: #232122;
 position: relative;
 margin:0 auto;
 color: #ffffff;
 font-family: "arial";
}



#inner_container{
  width: 800px;
 text-align:left;
 padding: 0 0 0 0;
 background: #2f2d2e;
 position: relative;
 margin:0 0 0 0;
}




#content_container{
  margin: 0 0px 0 20px;
  padding: 0 0 0 0;
  width:780px;
}


#container_2grid_left {
  width: 516px;
  float: left;
  margin: 0px 0px 0px 0px;
}


div.title-hr-2gridleft {
  margin: 0px;
  width:500px;
}
div.title-hr-1gridright {
  margin: 0px;
  width:242px;
}




#container_2grid_left h2 {
  margin-left: 0px;
  color:#fff;
  font-weight:normal;
  font-size: .875em;
  text-transform: uppercase;
  line-height:2;
}


#container_2grid_left p {
  font-size: .875em;
  padding: 0px 28px 10px 0px;
  color: #b9bcbe;
}

#container_2grid_left .p_contentSpacer {
  padding: 16px 0px 0px 0px;
}

#container_2grid_left dl{
  margin: 16px 16px 28px 0px;
  padding: 0;
  width: 500px;
  float: left;
  list-style:none;
  color: #ffffff;
}




#container_2grid_left dl dt{
  margin: 16px 0 0 0px;
  padding: 0;
  float: left;
clear:left;
  list-style:none;
  color: #b9bcbe;
  font-style:italic;
}


#container_2grid_left dl dd{
  font-size: 0.875em;
  margin: 16px 0 0 20px;
  padding: 0 0px 0 0px;
  width: 280px;
  float: left;
  list-style:none;
  color: #ffffff;
}




#container_1grid_right
{
  margin: 0px 0 0 0px;
  padding: 0px 0 0 0px;
  color: #fff;
  width: 242px;
    font-size: 0.8125em;
  float: left;
}

#container_1grid_right p
{
  margin: 0px 0 0 0;
  padding: 20px 0 6px 0px;
  color: #b9bcbe;
}


#container_1grid_right dl{
  margin: 0 0 20px 0px;
  padding: 0;
  width: 242px;
  float: left;
  list-style:none;
  color: #ffffff;
}

#container_1grid_right dl dt{
  margin: 0 0 6px 0px;
  padding: 0;
  width: 95px;
  float: left;
  list-style:none;
  color: #b9bcbe;
}

#container_1grid_right dl dd{
  margin: 0 0 6px 0px;
}




#container_1grid_right ol dl dt{
  margin: 0 0 0 0px;
  padding: 0;
  float: left;
  list-style:none;
  color: #b9bcbe;
}

#container_1grid_right ol{
  margin: 0 0 0 0px;
  padding: 0;
  width: 242px;
  float: left;
  list-style:none;
  color: #ffffff;
}

#container_1grid_right ol li{
    margin: 0px 0 0px 0;
    overflow:hidden;
    padding: 0px 0 10px 0;
}


#container_1grid_right ol li dl, #container_1grid_right ol li dl dt, {
  margin: 0px 0 0px 0;
  padding: 0px 0 0px 0px;
}


#container_1grid_right ol li dl dt span {
    color: #b9bcbe;
    display:block;
    float:left;
    width:70px;
}




#container_1grid_right ol li dl dt strong {
    display:block;
  float: right;
    width: 170px;
}

#container_1grid_right ul{
  margin: 0 0 0 0;
  padding: 0px 0 7px 0;
  list-style: none;
}

#container_1grid_right ul li{
  margin: 0 0 0 0;
  padding: 0px 0 4px 0;
  list-style: none;
}

#container_1grid_right ol img{
  float: none;
  width: 24px;
  padding: 15px 0 0 0;
}

#container_1grid_right ol li img{
  padding: 0 0 0 0;
}

#container_1grid_right ol li dd img{
  padding: 0 0 0 7px;
  margin: 0;
}


#container_1grid_right ol li dd, #container_1grid_right ol li dt, #container_1grid_right ol li dl{
    margin: 0;
    padding: 0 0 5px 0;
}

#container_1grid_right ol li dl dt a{
    display:block;
    padding: 20px 0 0 0;
}









#crumb_trail{
 padding: 20px 0px 0px 0px;
 background: #232122;
 text-align:left;
 height: 15px;
 font-family: "arial";
 font-weight: "strong";
 font-size: 10px;
 color: #eeeeee;
}

#logo  {
  text-align: right;
}



#flash_notice{
    color: #ffffff;
    font-family: "arial";
}

#small_white_txt{
    color: #ffffff;
    font-family: "arial";
}


#tabs{
  padding: 20px 20px 20px 20px;
    text-align:left;
    font-family: "arial";
    font-size: 10px;
}



#highlight{
    color: #ffffff;

}





/*---------------- menu ----------------------- */
.music_menu_link{
  display: inline;
  float: left;
  margin: 0;
}

.music_menu{
 display: inline;
 visibility: hidden;
}

.clear:after, #form_inner_container:after, #home_promo_container:after, #form_audio-list li:after, #release_container:after, #releases_promo:after, #about_details:after, #new_release_details:after, #release_description:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear,  #inner_container {
    display: inline-block;
}


/*---------------- Drop-down menu ----------------------- */

#nav {
  list-style: none;
  padding: 0;
  margin: 5px 0px 5px 0px;
  text-align: left;
}


#nav li {
  float: left;
  position: relative;
  width: 10em;
  text-align: left;
  cursor: default;
  background-color: #2F2D2E;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-right: 1px solid #999;
  list-style: none;
  padding: 0;
}



#nav li:last-child {
  border-right: 0px;
}

#nav li ol {
  display: none;
  position: absolute;
  top: 100%;
  font-weight: normal;
  padding: 5px 20px 5px 0;
  /*---------------- Change the width of dropdown menu here 1. Will currently allow for 23 characters including spaces. ----------------------- */
  width: 170px;
  margin-top: 0px;
  margin-left: -10px;
  text-indent: 10px;

  /*box-shadow: 0px 5px 5px #888;
  -webkit-box-shadow: 0px 5px 5px #888;
  -moz-box-shadow: 0px 5px 5px #888;*/



}

#nav li>ol {
  top: auto;
  left: auto;
}

#nav li li {
  display: block;
  float: none;
  background-color: #2F2D2E;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid #363435;
  width: 100%;
  border-left: 0px solid #363435;
  border-right: 0px solid #363435;
  margin: 0px;
  background-image: url(none);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#nav li li:first-child {
  padding-top: 20px;
}

#nav li li:last-child {
  height: 8px;
  background-color: #363435;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomleft: 8px;
  padding: 0px;
  /*---------------- Change the width of dropdown menu here 2 ----------------------- */
  width: 170px;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#nav a {
  color: #648d9f;
  text-align: left;
}

#nav li li a {
  display: block;
  font-weight: normal;
  color: #648d9f;
  padding: 5px 0 5px 0;
  width: 100%;
}

#nav li li a:hover {
  color: #b9bcbe;
  background-image: url(../images/index/menu_arrow.gif);
  background-repeat: no-repeat;
  /*---------------- Change the position of arrow for dropdown menu here 3 (should be same as width - 15 pixels)----------------------- */
  background-position: 155px 6px;
}

#nav li:hover ol {
  display: block;
  padding: 5px 0 5px 0;
}

#nav a:hover {
  color: #b9bcbe;
}

#logo  {
  text-align: right;
}



/*---------------- Page Footer ----------------------- */

#footer {
  clear:both;
  height:210px;
  margin: 0px 0 0 0;
  padding: 30px 22px 20px 20px;
}

#footer h2 {
  color:#FFFFFF;
  font-size:0.875em;
  font-weight:normal;
  line-height:2;
  margin-left:0;
  text-transform:uppercase;
}

#footer-links {
  width: 750px;
  height: 210px;
  float: left;
}

#socialLinks ul{
  padding-top: 19px;
  padding-right: 50px;
  width: 535px;
  height:210px;
  list-style: None;
}

#socialLinks li{
  position: relative;
  width: 4.6em;
  text-align: left;
  float: right;
  cursor: default;
  background-color: #2F2D2E;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  margin-right: 5px;
  list-style: none;
  padding: 0;
  opacity:0.4;
}

#socialLinks li:hover {
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#footer-subscribe {
width: 242px;
  height:210px;
padding: 0 0 0px 0px;
  float: left;
}

.footerLinks {
  width: 242px;
    height: 210px;
  margin:12px 16px 4px 0px;
  padding: 0px;
    float:left;
    list-style: None;
  font-style:italic;
}


#legal-notice {
  color:#787d7f ;
  margin:auto;
  width:150px;
  padding:20px 0px 20px 0px;
  text-align:center;
}

p.copyright {
  font-size: .875em;
}


/*----------------Home page--------------------------------------*/

#home_promo_header{
  width: 758px;
  float: left;
  font-size: .875em;
  padding: 0 0 8px 0px;
}

.home-promo-boxgrid {
    width: 242px;
    height: 242px;
  margin:12px 16px 4px 0px;
  padding: 0px;
    float:left;
    overflow: hidden;
    position: relative;
}



.home-promo-boxgrid img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0;
  margin:0px;
  padding: 0px;
}


.captionfull .boxcaption {
    float: left;
    position: absolute;
    background: #2f2d2e;
    height: 122px;
    width: 100%;
  margin:0px 0px 0px 0px;
  padding: 0px;
    opacity: .9;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }


#container_2grid_left  .boxcaption h2 {
    padding: 8px 0px 8px 10px;
  margin: 0px 0px 0px 0px;
    font-weight:normal;
    font-size: .875em;
    line-height:1;
}



#container_2grid_left .boxcaption p {
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
      line-height:1.4;
}


.captionfull .boxcaption {
      top: 242px;
      left: 0;
  }
.caption .boxcaption {
      top: 242px;
      left: 0;
  }



/*----------------Home page Side Bar--------------------------------------*/

aside {
  width: 242px;
  float: left;
}



#home_podcast_promo {
  width: 258px;
  height: 162px;
  padding: 0 0 10px 0px;
}


#home_podcast_promo h2 {
  margin-left: 0px;
  color:#fff;
  font-weight:normal;
  font-size: .875em;
  text-transform: uppercase;
  line-height:2;
}


#home_podcast_promo p {
  font-size: .875em;
  padding: 0px 10px 10px 10px;
}


.home-podcast-boxgrid {
    width: 242px;
    height: 121px;
  margin:12px 0 4px 0px;
  padding: 0px;
    float:left;
    overflow: hidden;
    position: relative;
}


.home-podcast-boxgrid img{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0;
  margin:0px;
  padding: 0px;
}


.podcast-boxcaption {
    float: left;
    position: absolute;
    background: #2f2d2e;
    height: 122px;
    width: 100%;
    opacity: .9;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }


.podcast-boxcaption h2 {
    padding: 0px 0px 0px 10px;
    font-weight:normal;
    font-size: .875em;
    text-transform: uppercase;
    line-height:2;
}





.podcast-captionfull .podcast-boxcaption {
      top: 121px;
      left: 0;
  }
.podcast-caption .podcast-boxcaption {
      top: 121;
      left: 0;
  }


.podcast-cover {

background:url(/images/index/podcast-promo-bg.jpg) 0 0 no-repeat;
  }





#home_blogroll {
  width: 258px;
  height: 360px;
  padding: 0 0 10px 0px;
}

.home-blogroll-post {
    width: 237px;
    margin:12px 0 22px 0px;
    padding: 0px 5px 0px 0px;
}

#home_blogroll h2 {
    margin-left: 0px;
    color:#fff;
    font-weight:normal;
    font-size: .875em;
    text-transform: uppercase;
    line-height:2;
}

#home_blogroll h3 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
    color:#648d9f;
    font-weight:normal;
    font-size: .875em;
    text-transform: uppercase;
}

#home_blogroll p {
  font-size: .875em;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 6px 0px;
}

#home_blogroll .date {
  color:#787d7f;
  font-size: .875em;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 6px 0px;
}


.home-blogroll-post a:hover {
  color:#648D9F;
  text-decoration: underline;
}



/*------------------Releases Index------------------------*/



.release_index_promo{
  width: 242px;
  height: 368px;
  float: left;
  padding: 0 16px 25px 0px;
}

.release_index_promo p{
  color: #ffffff;
  font-size: .875em;
}

.release_index_promo h2{
  padding: 0px 0px 0px 0px;
  font-weight:normal;
  text-transform: uppercase;
  font-size: .875em;
  line-height:2;
}

.release_index_promo img{
  width: 242px;
    height: 242px;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}


/*release container ----------------------------------------*/

#release_container
{
  margin:0 0 0 0;
  padding: 0 0 0 20px;
  list-style:none;
  color: #fff;
  width: 780px;
  font-size: 0.8125em;
}

#release_container ol{
  padding: 0 0 0 0;
  list-style:none;
  margin: 0 0 0 0;
}

#release_container li
{
    margin:0 0 4px 0;
    overflow:hidden;
    padding:0;
    margin:0;
}

#release_container li dl, #release_container li dt, #release_container li dd
{
    margin: 0;
    padding: 0;
}

#release_container li dd a{
    display:block;
    height:40px;
    width: 40px;
    padding: 0 0 0 20px;
    text-indent:-9999px;
    background:url(/images/releases/zip_icon.gif) 0 0 no-repeat;
}

#release_container li dt, #release_container li dd {
    float:left;
}


#release_container li dt span {
    color: #b9bcbe;
    display:block;
    float:left;
    width:171px;
}

#release_container li dt strong {
    display:block;
  float: right;
    width: 150px;
}

#release_container img {display:block;margin:0 20px 0 0;float:left;}
#release_container li {display:block;margin:0 0 0.72em 20px;}

#release_container ul{
  margin: 0 0 0 0;
  padding: 18px 0 0 0;
  list-style: None;
}

#release_container ul li strong{
  display:block;
  float: right;
  width: 180px;
  font-weight: 100;
}

#release_container p{
  /*
  This looks like it may be redundant
  margin: 0; 0 0 0;
  padding: 120px 0 0 0;
    color: #b9bcbe;
  width: 330px;
  display: block;
  float: left;*/
}



/*form description --------------------*/


#new_release_details{
  margin:0 0 0 0;
  padding: 30px 0 20px 20px;
  list-style: none;
  color: #fff;
  width: 750px;
  font-size: 0.875em;
  color: #b9bcbe;
}

#new_release_details p{
  margin:0 0 0 0;
  padding: 0 0 0 0;
  width: 358px;
  float: left;
  color: #b9bcbe;
}

#new_release_details ol{
  margin:0 0 0 0;
  padding: 0 0 0 30px;
  width: 360px;
  float: left;
  color: #b9bcbe;
}




/*----------------Artist index page----------------*/



.artist_index_promo {
  width: 242px;
  float: left;
  font-size: 0.875em;
  padding: 0 16px 25px 0px;
}

.artist_index_promo p{
  color: #ffffff;
}

.artist_index_promo span{
  text-align: center;
  text-transform: uppercase;
}

.artist_index_promo img{
  margin: 0 0 0 0;
  padding: 0 0 15px 0;
}


/*----------------Podcasts----------------------*/

#podcast_index_promo{
  width: 242px;
  float: left;
  font-size: .875em;
  padding: 0 16px 25px 0px;
}

#podcast_index_promo p{
  color: #ffffff;
}

#podcast_index_promo span{
  text-align: center;
  text-transform: uppercase;
}

#podcast_index_promo img{
  margin: 0 0 0 0;
  padding: 0 0 15px 0;
}




#podcasts_footer{
  font-size: 0.7em;
  float: right;
}
#podcasts_footer img{
  margin: 0;
  padding: 6px 0 0 6px;
}

#podcast_download {
  float: left;
  list-style:none;
  color: #ffffff;
  margin: 52px 0px 0px 0px;
}

#podcast_download p.podcastDuration{
  color:#b9bcbe;
  font-size: 0.9em;
}

#container_1grid_right #podcast_download dl{
  margin: 20px 0px 0px 0px;
  padding: 0;
}

#container_1grid_right #podcast_download dl dt{
  margin: 0px 0px 0px 0px;
  padding: 0;
  width:65px;
}

#container_1grid_right #podcast_download dl dd{
  margin: 0px 0px 0px 0px;
  padding: 0;
  width:30px;
  float:left;
}

#podcast_download ol{
  margin: 0 0 0 0px;
  padding: 0;
  width: 340px;
  float: left;
  list-style:none;
  color: #ffffff;
}

#podcast_download ol li{
  margin: 0 0 0 0px;
  padding: 0;
  width: 80px;
  float: left;
  list-style:none;
  color: #ffffff;
}

#podcast_download p{
  margin: 10px 0 0 0px;
  padding: 0;
  list-style:none;
  color: #ffffff;
}

#podcast_download ol li dl dd img{
  padding: 12px 0 0 10px;
  margin: 0;
  text-align: center;
}

#container_2grid_left dl dd.podcastTrackLabel{
  margin: 16px 0 0 20px;
  padding: 0 0px 0 0px;
  font-size: 0.8125em;
  width: 160px;
  float: left;
  list-style:none;
  color: #b9bcbe;
}



/***** NEWSLETTER ****/

#newshold {
  position: relative;
  width: 242px;
  height: 187px;
  margin: 0px 0px 0px 0px;
  display: block;
}


#newshold p {
  font-size:0.875em;
}

input:focus {
  outline: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 35px;
  line-height: 30px;
  position: absolute;
}

#newsinput {
  position: relative;
  width: 241px;
  height: 35px;
  font-size:0.8125em;
  background: #282828;
  border: 0px;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,.19), 1px 1px 0px rgba(255,255,255,.08);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,.19), 1px 1px 0px rgba(255,255,255,.08);
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,.19), 1px 1px 0px rgba(255,255,255,.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
  top: 17px;
  text-indent: 10px;
  color: #666666;
  vertical-align: middle;
  line-height: 30px;
}

#newshold input {
  display: block;
}
#newshold input::-webkit-input-placeholder {
  position: absolute;
  display: block;
}
#newshold input:-moz-placeholder {
  padding-left: 10px;
}
#newssub {
  position: absolute;
  top: 23px;
  left: 165px;
    text-transform:uppercase;
  font-size:0.75em;
  background: #2e2c2d;
  background: -moz-linear-gradient(top, #2e2c2d 0%, #3a393a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2c2d), color-stop(100%,#3a393a));
  background: -webkit-linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  background: -o-linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  background: -ms-linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2c2d', endColorstr='#3a393a',GradientType=0 );
  background: linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  color: #648d9f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 5px;
  border: none;
}
#newssub:hover {
  background: #2e2c2d;
  background: -moz-linear-gradient(top, #2e2c2d 0%, #3a393a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2c2d), color-stop(100%,#3a393a));
  background: -webkit-linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  background: -o-linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  background: -ms-linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2c2d', endColorstr='#3a393a',GradientType=0 );
  background: linear-gradient(top, #2e2c2d 0%,#3a393a 100%);
  -webkit-box-shadow: inset 0px 1px 0px 0px #3a393a;
  -moz-box-shadow: inset 0px 1px 0px 0px #3a393a;
  box-shadow: inset 0px 1px 0px 0px #3a393a;
  color: #ffffff;
}
.wrongemail {
  position: absolute;
  top: 80px;
  left: 0px;
}
.wrongemail:before {
  padding-right: 10px;
  content: url(/images/index/newscross.png);
  width: 18px;
  height: 18px;

}
.thanksemail {
  top: 115px;
  left: 0px;
  position: absolute;
}
.thanksemail:before {
  padding-right: 10px;
  content: url(/images/index/newstick.png);
  width: 18px;
  height: 18px;
}



/************************************************/
/* About details */
/************************************************/

#container_1grid_right dl dt.about_email{
  margin: 0 0 0 0px;
  padding: 0;
  width: 70px;
  float: left;
  list-style:none;
  color: #b9bcbe;
}




