  #example2{
    float:left;
    margin: 2px 0px 2px 0px;
  }
  .sharrre .box{
    background:#2f2d2e;

    height:18px;
    
    position:relative;
    padding:0px 10px 0 10px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:0.875em;
    float:left;
    clear:both;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
    padding-left:0px;
  }
  .sharrre .left{
    line-height:18px;
    display:block;
    white-space:nowrap;
    float: left;
    padding-left:0px;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#eee;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .sharrre .middle{
    position:absolute;
    height:20px;
    top:0px;
    right:0px;
    width:0px;
    background:#2f2d2e;
    color:#b9bcbe;
    font-size:0.875em;
    white-space:nowrap;
    text-align:left;
    overflow:hidden;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
  }
  .sharrre .middle a{
    color:#b9bcbe;
    font-weight:bold;
    padding:0 9px 0 9px;
    text-align:center;
    float:left;
    line-height:22px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  }

  .sharrre .box:hover{
    padding-right:100px;
  }
  .sharrre .middle a:hover{
    text-decoration:none;
  }
  .sharrre .box:hover .middle{
    width:80px;
  }