
<div id="portrait">


<ol>
<li><dl><dt><span>ARTIST :</span><strong>SONNAMBLE & GAVIN OWENS</strong></dt></dl></li>
<li><dl><dt><span>TITLE :</span>SEHNSUCHT</a></dt></dl></li>
<li><dl><dt><span>MEDIUM :</span> AUDIO VISUAL / SOFTWARE</a></dt></dl></li>
<li><dl><dt><span>ASSETS :</span> AVAILABILITY T.B.C.
</dt></dl></li>
</ol>



<p>

A CORE ACTIVITY OF SONNAMBLE IS THE DEVELOPMENT OF CUSTOM AUDIO SOFTWARE.
THIS SOFTWARE IS USED IN REALTIME IMPROVISED PERFORMANCES WITH VARIOUS CONTRIBUTORS SUCH AS PETER MARSH, LAURA HYLAND, CHRIS JONES AND CONOR CURRAN.
<BR/><BR/>
FOR THIS PIECE, A SUITE OF COMB FILTERS WHICH WERE USED EXTENSIVELY IN THE RECORDING OF SEVEN MONTHS IN E MINOR ARE TO BE MADE AVAILABLE.
<BR/><BR/>
EACH TUNABLE COMB PRODUCES A DIFFERENT TIMBRE DUE TO THE USE OF DIFFERENT TYPES OF FILTERS.

<br/><br/>
ACCOMPANYING THE SOFTWARE IS THE AUDIO VISUAL WORK OF SONNAMBLE AND GAVIN OWENS. THIS PIECE WAS SHOT EARLY 2010 IN ASTURIAS, SPAIN.
<br/><br/>


</p>

<%= vimeo_embed(@vimeo_id.to_s, 350)%>



</div>

