<!DOCTYPE html>
<html>
  <head>
    <title>Forwind Publishing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="3j9sN9b2YA3zj6XxtbqzZ0Mj3n9exAI1UrvpK4KsDuA" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
